/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

.content {
  position: relative;
  width: 100%;
}





.centered-single-block {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  text-align: center;
}