/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

.content {
  position: relative;
  width: 100%;
}





.centered-single-block {
  display: block;
  text-align: center;
}